<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.hector.webconnect</string>
  <key>ProgramArguments</key>
  <array>
    <string>hector-webconnect</string>
    <string>--bind</string>
    <string>127.0.0.1</string>
    <string>--port</string>
    <string>6081</string>
  </array>
  <key>KeepAlive</key>
  <true/>
  <key>RunAtLoad</key>
  <true/>
  <key>Sockets</key>
  <dict>
    <key>Listeners</key>
    <dict>
      <key>SockServiceName</key>
      <string>6081</string>
    </dict>
  </dict>
</dict>
</plist>
