# OS V01D. USB or netboot. No loader menu. Install starts. DeltaKingZero.
DEFAULT osv01d
PROMPT 0
TIMEOUT 0
ONTIMEOUT osv01d

LABEL osv01d
  LINUX /vmlinuz-linux
  INITRD /initramfs-linux.img
  APPEND archisobasedir=arch archisolabel=OSV01D cow_spacesize=4G systemd.unit=osv01d-install.service quiet splash
